article.post {
  font-family: font-family: 'Open Sans', sans-serif;
  margin: 48px auto;
}
.post h1{
  font-size: 35px;
  color: rgb(46, 61, 73);
  font-weight: 300;
  margin-top: 4px;
  margin-bottom: 8px;
}
.post p{
    color: rgb(117, 124, 129);
    font-size: 16px;
}

.post a:hover{
    text-decoration: underline;
    text-decoration-color: #91DAEE;
}

.category-post a{
  color: rgb(125, 151, 173);
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}

.post .more-link{
  padding: 8px;
}
.post .more-link:hover{
  text-decoration: none;
}
